/* Connect.module.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    color: black;
  }
  
  .main {
    flex-grow: 1;
    margin: 0 auto;
    padding: 2rem 1rem;
    min-width: 90%;
  }
  
  .title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffa116;
  }
  
  .userGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .userGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .userGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .userCard {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: transform 0.2s ease;
  }
  
  .userCard:hover {
    transform: translateY(-5px);
  }
  
  .userHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .avatar {
    width: 3rem;
    height: 3rem;
    background-color: #ffa116;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .userName {
    font-size: 1.125rem; /* Tailwind's text-lg */
    font-weight: 600;
  }
  
  .userTitle {
    color: #b3b3b3;
  }
  
  .userCollege {
    color: #4b5563; /* Tailwind's text-gray-600 */
    margin-bottom: 1rem;
  }
  
  .connectButton {
    width: 100%;
    background-color: #ffa116;
    color: #fff;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  .connectButton:hover {
    background-color: #ff9100;
  }
  