.container {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
  .leftPanel {
    flex: 0.9;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #333;
    position: relative;
  }
  
  .rightPanel {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }
  
  .problemHeader {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 16px;
    
  }
  
  .title {
    font-size: 24px;
    margin: 0;
  }
  
  .difficulty {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 14px;
  }

  .solved{
    position: absolute;
    right: 10px;
    top: 3px;
    font-family: cursive;
  }
  
  .Easy {
    background-color: #2cbb5d;
  }
  
  .Medium {
    background-color: #ffa116;
  }
  
  .Hard {
    background-color: #e6231f;
  }
  
  .acceptanceRate {
    color: #8a8a8a;
    font-size: 14px;
  }
  
  .description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .editorContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #333 #1a1a1a;
    white-space: nowrap;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    background-color: #2a2a2a;
  }

  .btnGrp{
    display: flex;
    gap: 10px;
  }
  
  .button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
  }
  
  .runButton {
    background-color: #4a4a4a;
    color: white;
  }
  
  .runButton:hover {
    background-color: #5a5a5a;
  }
  
  .submitButton {
    background-color: #2cbb5d;
    color: white;
  }
  
  .submitButton:hover {
    background-color: #25a350;
  }
  
  .testcaseSection {
    flex: 1;
    padding: 20px;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #333 #1a1a1a;
    border-top: 2px solid rgb(109, 106, 106);
  }
  
  .testcaseHeader , .testResultsHeader{
    font-size: 16px;
    margin-bottom: 15px;
  }

  .testResultsHeader{
    margin-bottom: 0px;
  }

  .constraint , .solution{
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .constraints {
    padding-left: 1.2rem;
    list-style-type: disc;
  }
  
  .constraints li {
    font-size: 1rem;
    color: #f5efef;
    line-height: 1.5;
    margin-bottom: 0.4rem;
    font-size: 14px;
  }
  
  .testcaseContent {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .testcaseContent img , .problemImage{
    max-width: 100%;
  }
  
  .testcaseItem {
    margin-bottom: 10px;
  }
  
  .testcaseLabel {
    color: #8a8a8a;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .testcaseValue {
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .notestcaseSection{
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  
  .dropdown {
    padding: 6px ;
    border: 1px solid #e3dddd;
    border-radius: 4px;
    background-color: #f3efef;
    font-size: 12px;
  }
  
  .dropdown:focus {
    outline: none;
    border-color: none;
  }

  .videoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .videoContainer {
    position: relative;
    background: black;
    padding: 10px;
    border-radius: 10px;
  }
  
  .closeButton {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
  }

  .solution .camera{
    color: #8c9292;
    position: relative;
    top: 2px;
  }

  .errorMessage{
    font-family: "Courier New", Courier, monospace;
    font-size: small;
    font-weight: bold;
    color: #ff4d4d;
  }

  .testcaseRow{
    padding: 5px 10px;
    background-color: #2a2a2a;
    align-items: center;
    border: 2px solid rgb(103, 96, 96);
    border-radius: 3px;
    color: #8a8a8a;
    font-size: 14px;
    display: flex;
    gap: 5px;
    cursor: pointer;
  }


  .testcaseList{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .testcaseDetails{
    position: relative;
  }

  .backButton{
    position: absolute;
    cursor: pointer;
    right: 0px;
  }