.main{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.tableContainer {
  max-width: 95%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.table {
  min-width: 1000px;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-collapse: separate;
  border-spacing: 0;
  white-space: nowrap; /* Prevent table cells from wrapping */
}


  .header {
    background-color: #ffa116;
    color: black;
    display: flex;
    padding: 1rem;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .table .row:nth-child(even) {
    background-color: #2a2a2a;
  }

  .table .row:hover {
    background-color: #3a3a3a;
  }


  .row {
    position: relative;
    display: flex;
    padding: 1rem;
    text-align: left;
    line-height: 100%;
  }
  
  .cell {
    flex: 1;
    padding: 10px;
  }


  .body .cell{
    height: 30px;
  }
  

  .box{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(23, 22, 22) !important;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(227, 179, 65, 0.5) !important;
    border: 2px solid #FFD700;
  }
  
  .box:before{
    content: '';
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(180deg);
  }
  
  .box .span2:before
  {
    content: '';
    position: absolute;;
    width:100%;
    height: 2px;
    background: #FFD700;
    animation: animate 6s linear infinite;
  }

  .box .span1:before
  {
    content: '';
    position: absolute;;
    width:2px;
    height: 100%;
    background: #FFD700;
    animation: animate 6s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 
  
  .gold{
    color: #FFD700;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3); 
  }
  .silver{
    color: #A8A8A8 ;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3); 
  }
  .bronze{
    color: #CD7F32;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2); 
  }

  .crown {
    position: absolute;
    color: #FFD700;
    rotate: -45deg;
    left: 10px;
    top: 10px;
  }
  
  .avatar {
    width: 2rem;
    height: 2rem;
    background-color:#b1b1b1;
    border: 1px solid #ffa116;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
  }
  .specialcell{
    display: flex;
    align-items: center;
    justify-content: left;
  }