.features {
    padding: 5rem 0;
    background-color: white;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    color: #ffa116;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .card {
    background-color: #f8f8f8;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .featureTitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: black;
  }
  
  .description {
    color: #b3b3b3;
  }
  
  